{"openapi":"3.1.0","info":{"title":"agentshop","version":"2.2.0","description":"Machine-to-machine macroeconomic report store: 80 catalog reports plus bespoke and bundle products, generated from World Bank Open Data (CC BY 4.0) and sold per fetch in USDC over x402.","keywords":["macroeconomic data","world bank data","cross-country comparison","economic indicators","time series data","gdp","inflation","trade","external debt","foreign direct investment","labour market","demographics","energy","co2 emissions","esg","health expenditure","military expenditure","digital adoption","fiscal policy","research and development","country risk","sovereign analysis","market research data","dataset api","tariffs","trade policy","population ageing","renewable electricity","high-technology exports","scientific research output","poverty","inequality","fiscal space","correlation matrix"],"x-guidance":"Every paid operation is an ordinary GET and every report has its own concrete path (`/report/<id>`, one entry per product in this document). An unpaid request answers HTTP 402 with the price in the PAYMENT-REQUIRED response header; sign the USDC transfer (EIP-3009 on Base mainnet, so the buyer needs no ETH) and replay the same request carrying the signature to receive HTTP 200. Prices are re-quoted on every request, so always pay the amount in the 402 you just received rather than a cached one. Start free: `/preview/<id>` returns the latest-year cross-section for every covered economy with no wallet at all, `/catalog` lists every product with its live price, and `/start` names the recommended first purchase with runnable client code.","contact":{"name":"agentshop","url":"https://reportbazaar.app.workbuddy.host","email":"xingchenguang@agent.qq.com"},"license":{"name":"Report content: generated from World Bank Open Data (CC BY 4.0)","url":"https://data.worldbank.org"}},"servers":[{"url":"https://reportbazaar.app.workbuddy.host"}],"paths":{"/report/macro-gdp":{"get":{"operationId":"report_macro_gdp","summary":"GDP Comparison Report — Major Economies","description":"GDP at current US dollars for ten major economies, with period CAGR, share of group total, latest-year growth, volatility and a full year-by Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gdp","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gdp-per-capita":{"get":{"operationId":"report_macro_gdp_per_capita","summary":"GDP per Capita Comparison Report","description":"GDP per capita at current US dollars — a productivity and living-standard proxy with CAGR, ranking and dispersion metrics. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gdp-per-capita","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gdp-ppp":{"get":{"operationId":"report_macro_gdp_ppp","summary":"GDP at Purchasing Power Parity Report","description":"GDP at PPP in current international dollars — real economic weight adjusted for price levels, a common basis for cross-country ranking. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gdp-ppp","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gdp-growth":{"get":{"operationId":"report_macro_gdp_growth","summary":"GDP Growth Rate Report","description":"Real GDP growth (annual %) — expansion or contraction momentum, average growth, volatility and recession-year detection. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gdp-growth","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-inflation":{"get":{"operationId":"report_macro_inflation","summary":"Inflation Rate Comparison Report","description":"Consumer-price inflation across ten economies — monetary-policy stance, peak-inflation year and average inflation over the period. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-inflation","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gdp-deflator":{"get":{"operationId":"report_macro_gdp_deflator","summary":"GDP Deflator Inflation Report","description":"Inflation measured by the GDP deflator — the broadest domestic price gauge, useful as a cross-check against consumer-price inflation. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gdp-deflator","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-fx":{"get":{"operationId":"report_macro_fx","summary":"Official Exchange Rate Report","description":"Official exchange rate, local currency units per US dollar (period average) — a currency-valuation baseline with cumulative depreciation. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-fx","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-trade":{"get":{"operationId":"report_macro_trade","summary":"Merchandise and Services Exports Report","description":"Total exports of goods and services at current US dollars — global trade positioning, export share of the group and growth. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-trade","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-imports":{"get":{"operationId":"report_macro_imports","summary":"Merchandise and Services Imports Report","description":"Total imports of goods and services at current US dollars — domestic demand strength and external dependence. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-imports","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-trade-openness":{"get":{"operationId":"report_macro_trade_openness","summary":"Trade Openness Report","description":"Trade as a share of GDP and merchandise trade as a share of GDP — how open each economy is to cross-border flows. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-trade-openness","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-current-account":{"get":{"operationId":"report_macro_current_account","summary":"Current Account Balance Report","description":"Current account balance at current US dollars — external surplus or deficit position, with a surplus/deficit classification per economy. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-current-account","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-remittances":{"get":{"operationId":"report_macro_remittances","summary":"Personal Remittances Report","description":"Personal remittances received at current US dollars — a hard-currency inflow that often dwarfs FDI in emerging economies. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-remittances","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-fdi":{"get":{"operationId":"report_macro_fdi","summary":"Foreign Direct Investment Net Inflows Report","description":"FDI net inflows on a balance-of-payments basis, current US dollars — cross-border capital confidence, share of group inflow and stability. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-fdi","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-debt":{"get":{"operationId":"report_macro_debt","summary":"External Debt Stock Report","description":"Public and publicly guaranteed external debt stocks at current US dollars — sovereign repayment-risk reference with debt accumulation trend. Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/macro-debt","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-credit":{"get":{"operationId":"report_macro_credit","summary":"Domestic Credit to Private Sector Report","description":"Domestic credit to the private sector as a percentage of GDP — banking-system depth and leverage build-up. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-credit","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-market-cap":{"get":{"operationId":"report_macro_market_cap","summary":"Equity Market Capitalization Report","description":"Market capitalization of listed domestic companies at current US dollars — listed-equity depth and capital-market development. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-market-cap","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-population":{"get":{"operationId":"report_macro_population","summary":"Population Comparison Report","description":"Total population for ten economies with compound growth and share of the group. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-population","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-population-growth":{"get":{"operationId":"report_macro_population_growth","summary":"Population Growth Report","description":"Annual population growth and urbanisation share — the demographic trajectory behind long-run demand. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-population-growth","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-life-expectancy":{"get":{"operationId":"report_macro_life_expectancy","summary":"Life Expectancy and Child Mortality Report","description":"Life expectancy at birth and under-5 mortality per 1,000 live births — two complementary population-health measures. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-life-expectancy","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-unemployment":{"get":{"operationId":"report_macro_unemployment","summary":"Unemployment Rate Report","description":"Total unemployment as a share of the labor force — labor-market slack, best/worst year and period average. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-unemployment","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-labor-force":{"get":{"operationId":"report_macro_labor_force","summary":"Labor Force Participation Report","description":"Labor force participation rate alongside the fertility rate — the two drivers of future labor supply. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-labor-force","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gini":{"get":{"operationId":"report_macro_gini","summary":"Income Inequality Report","description":"Gini index (0 = perfect equality, 100 = perfect inequality) — the standard distributional snapshot. Coverage is sparser than other indicator Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/macro-gini","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-economic-structure":{"get":{"operationId":"report_macro_economic_structure","summary":"Economic Structure Report — Agriculture, Industry, Services","description":"Value added by agriculture, industry and services as a share of GDP — three indicators rendered together to show each economy's structural c Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-economic-structure","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-fiscal":{"get":{"operationId":"report_macro_fiscal","summary":"Fiscal Position Report — Tax, Debt and Education Spending","description":"Tax revenue, central government debt and education expenditure, all as a share of GDP — a three-indicator view of fiscal capacity. Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/macro-fiscal","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-rnd":{"get":{"operationId":"report_macro_rnd","summary":"Research and Development Expenditure Report","description":"Gross domestic expenditure on R&D as a percentage of GDP — national innovation intensity. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-rnd","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-patents":{"get":{"operationId":"report_macro_patents","summary":"Resident Patent Applications Report","description":"Patent applications filed by residents — a direct measure of domestic inventive output. Coverage is limited to the most recent available yea Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-patents","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.07","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-energy":{"get":{"operationId":"report_macro_energy","summary":"Energy Use and Renewables Report","description":"Energy use per capita (kg of oil equivalent) paired with the renewable share of final energy consumption — the energy-transition scoreboard. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-energy","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-co2":{"get":{"operationId":"report_macro_co2","summary":"CO2 Emissions per Capita Report","description":"Territorial CO2 emissions per capita in tonnes of CO2 equivalent — the standard climate-accounting intensity measure. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-co2","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-air-quality":{"get":{"operationId":"report_macro_air_quality","summary":"Air Quality and Water Stress Report","description":"Mean PM2.5 concentration and freshwater withdrawal as a share of internal resources — environmental stress indicators relevant to operationa Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-air-quality","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.110000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.11","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-food":{"get":{"operationId":"report_macro_food","summary":"Food Production Index Report","description":"Food production index (2014-2016 = 100) — agricultural output trajectory and food-security supply side. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-food","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.07","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-health":{"get":{"operationId":"report_macro_health","summary":"Health Expenditure Report","description":"Current health expenditure as a percentage of GDP — the fiscal weight of each health system. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-health","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-military":{"get":{"operationId":"report_macro_military","summary":"Military Expenditure Report","description":"Military expenditure as a percentage of GDP — defence burden and its trend since 2015, when several budgets inflected upward. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-military","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-digital":{"get":{"operationId":"report_macro_digital","summary":"Digital Adoption Report — Internet and Mobile","description":"Individuals using the Internet (% of population) and mobile cellular subscriptions per 100 people — digital-adoption depth for market sizing Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-digital","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-real-gdp":{"get":{"operationId":"report_macro_real_gdp","summary":"Real GDP Report (Constant Prices)","description":"GDP at constant 2015 US dollars — volume growth stripped of price effects, the like-for-like basis for comparing economies over time. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-real-gdp","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gni-per-capita":{"get":{"operationId":"report_macro_gni_per_capita","summary":"GNI per Capita Report (Atlas Method)","description":"Gross national income per capita on the World Bank Atlas method (current US$) — the income yardstick behind development classifications and  Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gni-per-capita","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-tech-exports":{"get":{"operationId":"report_macro_tech_exports","summary":"High-Technology Exports Share Report","description":"High-technology exports as a share of manufactured exports — the clearest single proxy for where advanced manufacturing and semiconductor-gr Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-tech-exports","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-scientific-output":{"get":{"operationId":"report_macro_scientific_output","summary":"Scientific Research Output Report","description":"Scientific and technical journal articles published — the volume measure of national research output. Publication lags the reporting period  Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-scientific-output","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.110000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.11","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-tertiary-education":{"get":{"operationId":"report_macro_tertiary_education","summary":"Tertiary Education Enrolment Report","description":"Gross tertiary enrolment ratio — the share of the school-age cohort entering university, a leading indicator of future skilled-labour supply Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-tertiary-education","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-broadband":{"get":{"operationId":"report_macro_broadband","summary":"Fixed Broadband Penetration Report","description":"Fixed broadband subscriptions per 100 people — fixed-line connectivity depth, the infrastructure base for cloud and data-centre demand. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-broadband","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-internet-security":{"get":{"operationId":"report_macro_internet_security","summary":"Secure Internet Servers Report","description":"Secure Internet servers (TLS) per 1 million people — the density of encrypted online infrastructure, which tracks where digital business is  Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-internet-security","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-renewable-power":{"get":{"operationId":"report_macro_renewable_power","summary":"Renewable Electricity Output Report","description":"Renewable electricity as a share of total electricity output — the power-mix transition measured at the generation stage. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-renewable-power","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.100000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.10","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-fossil-share":{"get":{"operationId":"report_macro_fossil_share","summary":"Fossil Fuel Dependence Report","description":"Fossil fuel consumption as a share of total energy use — the inverse of the transition, and a direct read on exposure to fuel-price shocks. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-fossil-share","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-electricity-access":{"get":{"operationId":"report_macro_electricity_access","summary":"Electricity Access Report","description":"Share of the population with access to electricity — the electrification baseline that conditions every downstream demand estimate. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-electricity-access","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-tariffs":{"get":{"operationId":"report_macro_tariffs","summary":"Applied Tariff Rate Report","description":"Trade-weighted mean applied tariff across all products — the measured restrictiveness of each economy's border, relevant to supply-chain and Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-tariffs","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.230000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.23","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-tourism":{"get":{"operationId":"report_macro_tourism","summary":"International Tourism Receipts Report","description":"International tourism receipts as a share of total exports — the service-export concentration of each economy, and its pandemic-era rupture. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-tourism","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-debt-interest":{"get":{"operationId":"report_macro_debt_interest","summary":"Government Interest Burden Report","description":"Interest payments as a share of central government expense — how much of each budget is consumed servicing debt rather than funding policy.  Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-debt-interest","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.230000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.23","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-population-aging":{"get":{"operationId":"report_macro_population_aging","summary":"Population Ageing Report","description":"Population aged 65 and above as a share of the total — the ageing ratio that drives pension, healthcare and labour-supply projections. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-population-aging","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-poverty":{"get":{"operationId":"report_macro_poverty","summary":"Extreme Poverty Report","description":"Poverty headcount at $2.15 a day (2017 PPP) — the headline development measure. Survey-based, so observations arrive in irregular waves rath Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/macro-poverty","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-gender-parliament":{"get":{"operationId":"report_macro_gender_parliament","summary":"Women in Parliament Report","description":"Proportion of national parliamentary seats held by women — a governance and institutional-quality measure used in ESG screening. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-gender-parliament","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-forest":{"get":{"operationId":"report_macro_forest","summary":"Forest Area Report","description":"Forest area as a share of land area — land-use change and carbon-sink capacity, reported at multi-year intervals. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-forest","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.07","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-undernourishment":{"get":{"operationId":"report_macro_undernourishment","summary":"Undernourishment Report","description":"Prevalence of undernourishment — the food-security stress measure, published as a model-based estimate in three-year windows. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-undernourishment","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.110000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.11","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-hospital-beds":{"get":{"operationId":"report_macro_hospital_beds","summary":"Hospital Beds and Physicians Report","description":"Hospital beds and physicians per 1,000 people — the physical capacity of each health system, a key pandemic-preparedness input. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-hospital-beds","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.110000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.11","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-military-spend":{"get":{"operationId":"report_macro_military_spend","summary":"Military Expenditure in Dollars Report","description":"Military expenditure in current US dollars alongside armed-forces personnel — defence spending measured in absolute terms rather than as a G Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-military-spend","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-growth-quality":{"get":{"operationId":"report_theme_growth_quality","summary":"Growth, Inflation and Unemployment — Macro Stress Report","description":"Real growth, consumer-price inflation and unemployment side by side, with the pooled correlation between them — the three variables that def Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-growth-quality","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-energy-transition":{"get":{"operationId":"report_theme_energy_transition","summary":"Energy Transition Scoreboard","description":"Renewable generation share, fossil dependence, electricity access and CO2 intensity in one document, with the cross-indicator correlation ma Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-energy-transition","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-tech-capability":{"get":{"operationId":"report_theme_tech_capability","summary":"Technology Capability Report — Exports, Research and Infrastructure","description":"High-technology export share, secure-server density, scientific publication volume and broadband penetration, correlated against each other  Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-tech-capability","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-fiscal-space":{"get":{"operationId":"report_theme_fiscal_space","summary":"Fiscal Space Report — Debt, Interest and Revenue","description":"Central government debt, the interest share of spending and tax revenue together — whether a sovereign still has room to borrow, and how muc Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/theme-fiscal-space","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-demographic-shift":{"get":{"operationId":"report_theme_demographic_shift","summary":"Demographic Shift Report — Age Structure and Growth","description":"The full age structure — children, working age and retired shares — plus population growth, in one document. This is the demographic dividen Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-demographic-shift","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-trade-exposure":{"get":{"operationId":"report_theme_trade_exposure","summary":"Trade Exposure Report — Flows, Intensity and Tariffs","description":"Export and import intensity as a share of GDP alongside applied tariff rates — how exposed each economy is to cross-border trade, and how op Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-trade-exposure","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-human-capital":{"get":{"operationId":"report_theme_human_capital","summary":"Human Capital Report — Education and Research Capacity","description":"Tertiary and secondary enrolment alongside research spending as a share of GDP — the pipeline that determines an economy's skilled-labour su Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/theme-human-capital","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.28","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/theme-inclusion-poverty":{"get":{"operationId":"report_theme_inclusion_poverty","summary":"Inclusion and Poverty Report — Income, Access and Services","description":"Extreme-poverty headcount, income inequality, financial-account ownership and basic drinking-water access together — the distributional and  Covers 10 economies, 2015:2025. Free preview of the latest year: /preview/theme-inclusion-poverty","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.25","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-real-gdp-per-capita":{"get":{"operationId":"report_macro_real_gdp_per_capita","summary":"Real GDP per Capita Report (Constant Prices)","description":"GDP per capita at constant 2015 US dollars — inflation-adjusted living-standard trajectory, the like-for-like complement to the nominal per- Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-real-gdp-per-capita","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.130000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.13","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-ict-exports":{"get":{"operationId":"report_macro_ict_exports","summary":"ICT Service Exports Report","description":"ICT service exports as a share of total service exports — the weight of high-margin digital trade in each economy's services balance. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-ict-exports","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-urban-growth":{"get":{"operationId":"report_macro_urban_growth","summary":"Urban Population Growth Report","description":"Annual urban population growth — the pace of city expansion behind infrastructure, housing and congestion demand. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-urban-growth","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.09","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-life-expectancy-sex":{"get":{"operationId":"report_macro_life_expectancy_sex","summary":"Life Expectancy by Sex Report","description":"Life expectancy at birth for females and males separately — the gender gap in longevity that the all-sex average hides. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-life-expectancy-sex","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-net-lending":{"get":{"operationId":"report_macro_net_lending","summary":"Government Net Lending Report","description":"Net lending (+) or net borrowing (-) of general government as a percentage of GDP — the bottom-line fiscal stance after all revenue and spen Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-net-lending","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.120000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.12","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-literacy":{"get":{"operationId":"report_macro_literacy","summary":"Adult Literacy Report","description":"Adult literacy rate for people aged 15 and above — the foundational human-capital gate that precedes every higher-education measure. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-literacy","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-patents-nonresident":{"get":{"operationId":"report_macro_patents_nonresident","summary":"Nonresident Patent Applications Report","description":"Patent applications filed by nonresidents — the inbound side of inventive activity, complementing the resident-applicant series as a foreign Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-patents-nonresident","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.060000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.06","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-energy-imports":{"get":{"operationId":"report_macro_energy_imports","summary":"Net Energy Import Dependence Report","description":"Net energy imports as a share of energy use — how much of each economy's energy it must source from abroad, the flip side of the fossil-depe Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-energy-imports","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.07","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-agri-land":{"get":{"operationId":"report_macro_agri_land","summary":"Agricultural Land Report","description":"Agricultural land as a share of total land area — the land base available for food and fibre production, the complement to forest-area cover Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-agri-land","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.07","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-cereal-yield":{"get":{"operationId":"report_macro_cereal_yield","summary":"Cereal Yield Report","description":"Cereal yield in kilograms per hectare — the productivity of the grain base that feeds most calorie supply, distinct from the food-production Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-cereal-yield","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-measles-immunization":{"get":{"operationId":"report_macro_measles_immunization","summary":"Measles Immunization Report","description":"Measles immunization coverage among children aged 12-23 months — a frontline indicator of primary-health-system reach. Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-measles-immunization","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"default":"html"}}],"responses":{"200":{"description":"The report in the requested format","content":{"text/html":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/ReportPayload"}},"text/csv":{"schema":{"type":"string"}}}},"400":{"description":"Unsupported ?format= value"},"402":{"description":"Payment required (x402 challenge)"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.080000"},"protocols":[{"x402":{}}]},"x-x402-payment":{"scheme":"exact","network":"eip155:8453","asset":"USDC","payTo":"0xba7efeabfab91a6febc8d8088faa29ce95979b34","facilitator":"https://facilitator.payai.network","price":"$0.08","flow":"Unpaid request returns HTTP 402 with a PAYMENT-REQUIRED header. Sign the USDC transfer, then replay the same request with the payment signature. The response is HTTP 200."}}},"/report/macro-sanitation":{"get":{"operationId":"report_macro_sanitation","summary":"Basic Sanitation Access Report","description":"People using at least basic sanitation services as a share of the population — the sanitation-policy counterpart to basic drinking-water acc Covers 20 economies, 2015:2025. Free preview of the latest year: /preview/macro-sanitation","tags":["paid","report"],"parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["html","json","csv","summary-csv"],"
[...]
